body {
  margin: 0;
  text-align:center;
  background-image: url("/images/i6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family:sans-serif;
}
.container{
  height: 100%;
  align-content: center;
  }
  
  .card{
    height: 50%;
    margin-top:10px;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
    }
  
  .card-header {
  color: white;
  }
  input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    .input-group-prepend span{
      width: 50px;
      background-color: #FFC312;
      color: black;
      border:0 !important;
      }

    main{
       
        width:600px;
        margin-left:auto;
        margin-right:auto;
    }
    .i_data{
      font-size:10px;
      color:grey;
      font-weight: bold;
      padding-left:5px;
    }
    #div1{
    height:60px;
    text-align:center;
    margin-top:25px;
    color:grey;
    }
    #div2{
    height:60px;
    padding-top:5px;
    }
  
    #div3{
    height:60px;
    display:flex;
    }
    #div31{
    width:50%;
  
    }
    select{
      width:90%;
      color:grey;
      border:none;
    }
    #div32{
    width:50%;
    padding-left:10px;
    padding-top:5px;
    }
    #div4{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    .button1{
      border:none;
      color: white;
      background-color:black;
      font-size: 16px;
      text-align: center;
     // padding: 15px 5px;
      cursor: pointer;
      height:50px;
      width:170px;
      margin-bottom:15px;
      border-radius:4px;
      }
      
    .button2{
      border:none;
      color: white;
      background-color:red;
      height:50px;
      font-size: 16px;
      text-align: center;
     // padding: 15px 5px;
      cursor: pointer;
      width:170px;
      margin-left:5px;
      border-radius:4px;
    }
    li{
      list-style-type: none;
    }
    #div5{
      border-bottom:1px solid grey;
    }
    #div51{
      color:grey;
      height:50px;
      margin-top:5px;
      border-bottom:1px solid grey;
    }
   
    #div51 input {
      float:left;
    }
    .btn{
      float:right;
      margin-right:50px;
      margin-top:7px;
      height:30px;
      width:70px;
      color:white;
      background:rgb(119, 2, 2);
      border-radius:4px;
      font-size:10px;
    }
    select{
      margin-top:5px;
    }
